<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegistrarUnidadController</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.RegistrarUnidadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUnidadController</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.ModificarUnidadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUnidadController</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.EliminarUnidadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarBitacoraCombustibleController</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.RegistrarBitacoraCombustibleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProgramacionLocalController</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.RegistrarProgramacionLocalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorrelativoProgramacionLocalServlet</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.CorrelativoProgramacionLocalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarProgramacionController</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.RegistrarProgramacionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarDetalleBitacoraCombustibleController</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.RegistrarDetalleBitacoraCombustibleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorrelativoBitacoraCombustibleServlet</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.CorrelativoBitacoraCombustibleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enviarCorrelativoDetalleBC</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.enviarCorrelativoDetalleBC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AgregarDetalleBitacoraCombustibleController</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.AgregarDetalleBitacoraCombustibleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarDetalleBitacoraCombustibleController</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.EliminarDetalleBitacoraCombustibleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnviarBitacoraCombustible</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.EnviarBitacoraCombustible</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarBitacoraCombustibleController</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.ModificarBitacoraCombustibleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorrelativoBitacoraActividades</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.CorrelativoBitacoraActividades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CodigoActividad</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.CodigoActividad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CorrelativoBitacoras</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.CorrelativoBitacoras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CodigoActividadVM</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.CodigoActividadVM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enviarMotoristaServlet</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.enviarMotoristaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarMotoristaController</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.ModificarMotoristaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMotoristaServlet</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.EliminarMotoristaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarMotoristaController</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.EliminarMotoristaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarMotoristaController</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.RegistrarMotoristaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>enviarProgramacionLocalServlet</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.enviarProgramacionLocalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarProgramacionLocalController</servlet-name>
        <servlet-class>sv.edu.ues.dsi215.servlets.ModificarProgramacionLocalController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarUnidadController</servlet-name>
        <url-pattern>/RegistrarUnidadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUnidadController</servlet-name>
        <url-pattern>/ModificarUnidadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUnidadController</servlet-name>
        <url-pattern>/EliminarUnidadController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarBitacoraCombustibleController</servlet-name>
        <url-pattern>/RegistrarBitacoraCombustibleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarDetalleBitacoraCombustibleController</servlet-name>
        <url-pattern>/RegistrarDetalleBitacoraCombustibleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorrelativoBitacoraCombustibleServlet</servlet-name>
        <url-pattern>/CorrelativoBitacoraCombustibleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProgramacionLocalController</servlet-name>
        <url-pattern>/RegistrarProgramacionLocalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorrelativoProgramacionLocalServlet</servlet-name>
        <url-pattern>/CorrelativoProgramacionLocalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarProgramacionController</servlet-name>
        <url-pattern>/RegistrarProgramacionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enviarCorrelativoDetalleBC</servlet-name>
        <url-pattern>/enviarCorrelativoDetalleBC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarDetalleBitacoraCombustibleController</servlet-name>
        <url-pattern>/AgregarDetalleBitacoraCombustibleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarDetalleBitacoraCombustibleController</servlet-name>
        <url-pattern>/EliminarDetalleBitacoraCombustibleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnviarBitacoraCombustible</servlet-name>
        <url-pattern>/EnviarBitacoraCombustible</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarBitacoraCombustibleController</servlet-name>
        <url-pattern>/ModificarBitacoraCombustibleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorrelativoBitacoraActividades</servlet-name>
        <url-pattern>/CorrelativoBitacoraActividades</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CodigoActividad</servlet-name>
        <url-pattern>/CodigoActividad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CorrelativoBitacoras</servlet-name>
        <url-pattern>/CorrelativoBitacoras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CodigoActividadVM</servlet-name>
        <url-pattern>/CodigoActividadVM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enviarMotoristaServlet</servlet-name>
        <url-pattern>/enviarMotoristaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarMotoristaController</servlet-name>
        <url-pattern>/ModificarMotoristaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMotoristaServlet</servlet-name>
        <url-pattern>/EliminarMotoristaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarMotoristaController</servlet-name>
        <url-pattern>/EliminarMotoristaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarMotoristaController</servlet-name>
        <url-pattern>/RegistrarMotoristaController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>enviarProgramacionLocalServlet</servlet-name>
        <url-pattern>/enviarProgramacionLocalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProgramacionLocalController</servlet-name>
        <url-pattern>/ModificarProgramacionLocalController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
